.App {
  margin-top: 20px;
  text-align: center;
  width: 100%;
  align-items: center;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
}

.recording-group {
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recorder-buttons {
  /* border: 1px solid pink; */
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.chatting-box {
  /* border: 1px solid red; */
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
}
